*{
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 10%;
    width: 100%;
    background-color: yellow;
}

nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}